<div class="row">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {# Add Specific field #}
        <div>
            {{ form_row(form.civility) }}
        </div>
        <div>
            {{ form_row(form.firstName) }}
        </div>
        <div>
                {{ form_row(form.lastName) }}
        </div>
        <div>
            {# affiche le champs sans le label #}
            {{ form_widget(form.picture) }}
            {{ form_errors(form.picture) }}
        </div>
        <div>
            <ul class="rates" data-prototype="{{ form_widget(form.rates.vars.prototype)|e }}">
                {# iterate over each existing rate and render its only field: name #}
                {% for rate in form.rates %}
                    <li>{{ form_row(rate.movie) }}</li>
                    <li>{{ form_row(rate.rate) }}</li>
                {% endfor %}
            </ul>
        </div>
        <div style="display: none">
            {{ form_row(form.rates) }}
        </div>

        {{ form_rest(form) }}

        <div>
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
        <div>
            {{ form_row(form.movieCategories) }}
        </div>
    </form>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="application/javascript">

        var $collectionHolder;

        // setup an "add a addRateLink " link
        var $addRateLink = $('<a href="#" class="add_rate_link">Add a rate</a>');
        var $newLinkLi = $('<li></li>').append($addRateLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of rates
            $collectionHolder = $('ul.rates');

            // add a delete link to all of the existing rate form li elements
            $collectionHolder.find('li').each(function() {
                addRateFormDeleteLink($(this));
            });

            // add the "add a rate" anchor and li to the rates ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addRateLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new rate form (see next code block)
                addrateForm($collectionHolder, $newLinkLi);
            });
        });

        function addrateForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a rate" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addrateFormDeleteLink($newFormLi);

            function addrateFormDeleteLink($rateFormLi) {
                var $removeFormA = $('<a href="#">delete this rate</a>');
                $rateFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the rate form
                    $rateFormLi.remove();
                });
            }
        }
    </script>

</div>
