{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Film</th>
            <th>Réalisateur</th>
            <th>Année de sortie</th>
            <th>Note du film</th>
        </tr>
        </thead>
        <tbody>

        {% for movie in movies %}
            <tr>
                <td>
                    {{ movie.movieTitle }}
                </td>
                <td>
                    {{ movie.directorName }}
                </td>
                <td>
                    {{ movie.year }}
                </td>
                <td>
                    {% if movie.rate %}
                        {{ movie.rate }} / 10
                    {% else %}
                        Non noté
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}
