{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>Image de profil</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Nom Utilisateur</th>
            <th>Date d'inscription</th>
            <th>Nombre de notes données</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td>
                    {% if user.picture %}
                        <img src="{{ asset('uploads/img/' ~ user.id ~'.jpeg') }}" alt="" style="height: 100px; width: 100px;" />
                    {% else %}
                        <img src="{{ asset('img/slime.png') }}" alt="" style="height: 100px; width: 100px;" />
                    {% endif %}
                </td>
                <td>
                    {{ user.firstname }}
                </td>
                <td>
                    {{ user.lastname }}
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.createdAt|date('d-m-Y') }}
                </td>
                <td>
                    {{ countRates[user.id] }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}
